* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

/* Start continer*/
.continer {
  width: 80%;
  margin: auto;
}

/* End continer*/
a {
  text-decoration: none;
}

/*******************************/
/* start header*/
.hed-nav {
  background-color: #59c6bc;
}
.hed-nav nav {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hed-nav nav .list-dis {
  cursor: pointer;
  border: 1px solid #ffffff;
  padding: 3px 7px;
  display: none;
}
.hed-nav nav .list-dis i {
  color: #fafafa;
  font-size: 30px;
}
@media (max-width: 767px) {
  .hed-nav nav .list-dis {
    display: block;
  }
}
.hed-nav nav a img {
  width: 180px;
  height: 50px;
}
.hed-nav nav ul {
  display: flex;
  list-style-type: none;
  gap: 25px;
}
.hed-nav nav ul li a {
  color: #4b4b4b;
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  font-size: 17px;
  transition: 0.5s;
  position: relative;
  padding: 5px;
}
.hed-nav nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  right: 0;
  background-color: #fff567;
  transition: 0.5s;
}
.hed-nav nav ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  top: -4px;
  left: 0;
  background-color: #fff567;
  transition: 0.5s;
}
.hed-nav nav ul li a:hover::before {
  width: 100%;
}
.hed-nav nav ul li a:hover::after {
  width: 100%;
}
.hed-nav nav ul li .active {
  background-color: #fff567;
  padding: 15px 20px;
  border-radius: 10px;
}
.hed-nav nav ul li .active:hover::before {
  width: 0%;
}
.hed-nav nav ul li .active:hover::after {
  width: 0%;
}
@media (max-width: 991px) {
  .hed-nav nav ul {
    display: none;
  }
}

/* End header*/
section.nav-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  z-index: 999999;
  display: none;
}
section.nav-list .fa-close {
  position: absolute;
  cursor: pointer;
  color: rgb(201, 197, 197);
  top: 20px;
  right: 20px;
  font-size: 40px;
}
section.nav-list .fa-close:hover {
  color: rgb(157, 153, 153);
}
section.nav-list .list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.nav-list .list ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}
section.nav-list .list ul li a {
  color: #000;
  font-family: "Tajawal", sans-serif !important;
  font-family: "Harmattan", sans-serif;
  font-size: 35px;
  font-weight: bold;
}
section.nav-list .list ul .li-hover a {
  transition: 0.3s;
}
section.nav-list .list ul .li-hover a:hover {
  color: #b3aa07;
}
section.nav-list .list ul .active a {
  color: #b3aa07;
}
section.nav-list .list ul .line {
  margin-top: 50px;
}
section.nav-list .list ul .line span {
  display: inline-block;
  border-color: #336e7b;
  border-style: solid;
  border-width: 1px;
  width: 120px;
}
section.nav-list .list ul .contact-nav-list {
  display: flex;
  gap: 10px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}
section.nav-list .list ul .contact-nav-list a {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.5s;
}
section.nav-list .list ul .contact-nav-list a:hover {
  background-color: rgb(218, 217, 217);
  opacity: 0.7;
}
section.nav-list .list ul .contact-nav-list a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: #336e7b;
}

/*******************************/
/* Start hed-img*/
section.hed-img {
  height: 630px;
  background-size: cover !important;
  padding: 100px 0;
}
section.hed-img .content h1 {
  color: rgb(255, 255, 255);
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}
section.hed-img .content p {
  color: rgb(255, 255, 255);
  font-family: "Tajawal", sans-serif;
  font-size: 16px;
  width: 400px;
  line-height: 44px;
  margin-bottom: 30px;
}
section.hed-img .content a {
  background-color: #fff567;
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 20px;
  border: 2px solid #fff567;
  transition: 0.3s;
  color: #505050;
}
section.hed-img .content a:hover {
  color: white;
  background-color: transparent;
}
@media (max-width: 991px) {
  section.hed-img .content {
    text-align: center;
    background-color: rgba(255, 245, 103, 0.2);
    height: 260px;
    border-radius: 20px;
  }
  section.hed-img .content p {
    width: 90%;
  }
}

/* End hed-img*/
/*******************************/
/* Start sec-boxes*/
.sec-boxes {
  margin-top: 80px;
  margin-bottom: 80px;
}
.sec-boxes .boxes {
  color: white;
  display: flex;
  justify-content: center;
}
.sec-boxes .boxes .box {
  transition: 0.3s;
  padding: 30px;
  width: 25%;
  text-align: right;
}
.sec-boxes .boxes .box img {
  width: 70px;
  height: 60px;
  margin-bottom: 30px;
}
.sec-boxes .boxes .box h3 {
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}
.sec-boxes .boxes .box p {
  line-height: 25px;
  font-family: "Tajawal", sans-serif;
  font-size: 15px;
}
.sec-boxes .boxes .box:nth-child(1) {
  background-color: #2d98a2;
}
.sec-boxes .boxes .box:nth-child(2) {
  background-color: #4fc5ba;
}
.sec-boxes .boxes .box:nth-child(3) {
  background-color: #eb774c;
}
.sec-boxes .boxes .box:nth-child(4) {
  background-color: #edbf47;
}
.sec-boxes .boxes .box:hover {
  transform: translateY(-15px);
  box-shadow: 0px 5px 8px #222;
}
@media (min-width: 768px) and (max-width: 991px) {
  .sec-boxes .boxes {
    flex-wrap: wrap;
  }
  .sec-boxes .boxes .box {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .sec-boxes .boxes {
    flex-direction: column;
  }
  .sec-boxes .boxes .box {
    width: 100%;
  }
}

/* End sec-boxes*/
/*******************************/
/* Start sec-news*/
.sec-news {
  background-color: #f4f4f4;
  margin-top: 130px;
}
.sec-news .title {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 90px;
}
.sec-news h3 {
  color: #505050;
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  font-size: 25px;
  padding-top: 20px;
}
.sec-news span {
  color: #4fc5ba;
  font-size: 18px;
  font-weight: normal;
}
.sec-news .boxes {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.sec-news .boxes .box {
  position: relative;
  background-color: #FFF;
}
.sec-news .boxes .box .img-news {
  height: 220px;
  background-size: cover;
}
.sec-news .boxes .box .content {
  padding: 5px 20px 50px 20px;
}
.sec-news .boxes .box .content h5 {
  font-size: 12px;
}
.sec-news .boxes .box .content h5 i {
  color: #4fc5ba;
  font-size: 15px;
}
.sec-news .boxes .box .content h2 {
  padding-top: 20px;
  font-size: 23px;
  color: #505050;
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
}
.sec-news .boxes .box .content p {
  padding-top: 20px;
  font-family: "Tajawal", sans-serif;
  font-weight: normal;
  margin-bottom: 30px;
}
.sec-news .boxes .box .content .btn-news {
  padding: 15px 30px;
  font-size: 20px;
  background-color: #fff567;
  border-radius: 50px;
  color: #505050;
  transition: 0.3s;
}
.sec-news .boxes .box .content .btn-news:hover {
  border: 2px solid #fff567;
  background-color: transparent;
}
.sec-news .boxes .box .news-pos {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 13px;
  padding: 8px;
  border-radius: 50px;
  background-color: rgba(247, 232, 17, 0.4);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@media (min-width: 768px) and (max-width: 991px) {
  .sec-news .boxes {
    flex-wrap: wrap;
  }
  .sec-news .boxes .box {
    width: 47%;
  }
  .sec-news .boxes .box h2 {
    font-size: 17px;
  }
  .sec-news .boxes .box p {
    font-size: 15px;
  }
  .sec-news .boxes .box .btn-news {
    font-size: 1px;
  }
  .sec-news .boxes .box3 {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .sec-news .boxes {
    flex-direction: column;
  }
  .sec-news .boxes .box {
    width: 97%;
  }
  .sec-news .boxes .box h2 {
    font-size: 15px;
  }
  .sec-news .boxes .box p {
    font-size: 14px;
  }
  .sec-news .boxes .box .btn-news {
    font-size: 1px;
  }
  .sec-news .boxes .box1 {
    margin-bottom: 50px;
  }
  .sec-news .boxes .box2 {
    margin-bottom: 50px;
  }
}

/* End sec-news*/
/*******************************/
/* Start sec-goles*/
.sec-goles {
  min-height: 430px;
  margin-top: 80px;
  background-size: cover !important;
  position: relative;
}
.sec-goles .sec-overlay {
  position: absolute;
  background-color: rgba(101, 184, 166, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sec-goles .title {
  text-align: center;
  padding: 70px;
}
.sec-goles .title h3 {
  font-size: 35px;
  font-weight: bold;
  color: #FFF;
}
@media (max-width: 991px) {
  .sec-goles .title h3 {
    font-size: 22px;
  }
}
.sec-goles .title h4 {
  margin-top: 5px;
  font-size: 20px;
  font-weight: normal;
  color: #FFF;
}
@media (max-width: 991px) {
  .sec-goles .title h4 {
    font-size: 15px;
  }
}
.sec-goles .boxes {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.sec-goles .boxes .box {
  text-align: center;
  transition: 0.3s;
}
.sec-goles .boxes .box img {
  width: 70px;
  height: 70px;
}
@media (max-width: 991px) {
  .sec-goles .boxes .box img {
    width: 30px;
    height: 30px;
  }
}
.sec-goles .boxes .box h1 {
  padding: 10px;
  color: #FFF;
  font-size: 40px;
}
@media (max-width: 991px) {
  .sec-goles .boxes .box h1 {
    font-size: 20px;
  }
}
.sec-goles .boxes .box h3 {
  color: #FFF;
}
@media (max-width: 991px) {
  .sec-goles .boxes .box h3 {
    font-size: 15px;
  }
}
.sec-goles .boxes .box:hover {
  transform: scale(1.1);
}
@media (max-width: 991px) {
  .sec-goles .boxes .box {
    margin-top: 70px;
  }
}
@media (max-width: 991px) {
  .sec-goles .boxes {
    position: absolute;
    flex-wrap: wrap;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0px;
  }
  .sec-goles .boxes .box {
    width: 50%;
  }
}

/* End sec-goles*/
/*******************************/
/* Start sec-fathers*/
.sec-fathers {
  background-color: #fff;
  margin-top: 130px;
}
.sec-fathers .title {
  text-align: center;
}
.sec-fathers .title h3 {
  color: #505050;
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 3px;
}
.sec-fathers .title span {
  color: #4fc5ba;
  font-size: 18px;
  font-weight: normal;
}
.sec-fathers .boxes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  gap: 40px;
}
.sec-fathers .boxes .box {
  position: relative;
  width: 47%;
  padding: 10px;
  display: flex;
}
.sec-fathers .boxes .box .fat-img {
  padding: 0 0 0 30px;
  background-color: transparent;
}
.sec-fathers .boxes .box .fat-img img {
  width: 72px;
  height: 72px;
  transition: 0.3s;
}
.sec-fathers .boxes .box .fat-img img:hover {
  transform: scale(1.1);
}
.sec-fathers .boxes .box .content {
  background-color: #f4f4f4;
  border-radius: 10px;
}
.sec-fathers .boxes .box .content h1 {
  color: #505050;
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 20px;
  padding-right: 15px;
}
@media (max-width: 991px) {
  .sec-fathers .boxes .box .content h1 {
    font-size: 15px;
  }
}
.sec-fathers .boxes .box .content p {
  color: #505050;
  font-family: "Tajawal", sans-serif;
  font-size: 17px;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .sec-fathers .boxes .box .content p {
    font-size: 12px;
  }
}
.sec-fathers .boxes .box .content .icons {
  display: flex;
}
.sec-fathers .boxes .box .content .icons .icon {
  margin-left: 10px;
  color: #505050;
  font-size: 13px;
}
.sec-fathers .boxes .box .content .icons .icon i {
  padding-left: 4px;
  color: #4fc5ba;
  font-size: 15px;
}
@media (max-width: 991px) {
  .sec-fathers .boxes .box .content .icons .icon {
    font-size: 10px;
  }
}
.sec-fathers .boxes .box::before {
  position: absolute;
  content: "";
  top: 17px;
  right: 83px;
  border-style: solid;
  border-width: 15px;
  border-color: transparent transparent transparent #f4f4f4;
}
@media (max-width: 991px) {
  .sec-fathers .boxes {
    flex-direction: column;
  }
  .sec-fathers .boxes .box {
    width: 100%;
  }
}

/* End sec-fathers*/
/*******************************/
/* Start sec-date*/
.sec-date {
  background-color: #f4f4f4;
  margin-top: 150px;
}
.sec-date .continer {
  padding-top: 90px;
}
.sec-date .continer .all-item {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 20px;
}
.sec-date .continer .all-item img {
  height: 335px;
  border-radius: 20px;
  width: auto;
}
.sec-date .continer .all-item .box {
  padding: 15px;
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
}
.sec-date .continer .all-item .box h1 {
  color: #505050;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.sec-date .continer .all-item .box .li {
  display: flex;
  padding-bottom: 30px;
}
.sec-date .continer .all-item .box .li i {
  margin-left: 8px;
  color: #4fc5ba;
}
.sec-date .continer .all-item .box .li span {
  font-size: 17px;
  font-weight: bold;
  color: #505050;
}
.sec-date .continer .all-item .box2 {
  text-align: center;
}
.sec-date .continer .all-item .box2 p {
  padding-left: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  color: #505050;
}
.sec-date .continer .all-item .date {
  font-size: 20px;
  background-color: #fff567;
  padding: 10px;
  border-radius: 20px;
}
.sec-date .continer .all-item .week {
  margin-top: 20px;
  font-size: 17px;
  margin-bottom: 20px;
  color: #505050;
}
.sec-date .continer .all-item .week-end {
  font-size: 17px;
  margin-top: 20px;
  color: #505050;
}
@media (max-width: 1199px) {
  .sec-date .all-item {
    flex-direction: column;
    justify-content: center;
  }
  .sec-date .all-item .box {
    text-align: center;
  }
  .sec-date .all-item .box h1 {
    padding-left: 30px;
    font-size: 28px;
  }
  .sec-date .all-item .box .li {
    justify-content: center;
  }
  .sec-date .all-item .box .li span {
    font-size: 15px;
  }
}

/* End sec-date*/
/*******************************/
/* Start sec-map*/
.sec-map {
  margin-top: 100px;
  height: 350px;
  background-size: cover;
  position: relative;
}
.sec-map .over-lay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.sec-map .email {
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  height: 50px;
  width: 290px;
  background-color: #4fc5ba;
  text-align: center;
}
.sec-map .email .email-input {
  transform: translateY(33%);
  width: 230px;
  height: 30px;
}
.sec-map .email .but-send {
  width: 30px;
  height: 30px;
  color: #4fc5ba;
  transform: translateY(33%);
}
.sec-map .email::before {
  position: absolute;
  content: "";
  bottom: -30px;
  left: 5px;
  border-style: solid;
  border-width: 15px;
  border-color: #4fc5ba transparent transparent transparent;
}

/* End sec-map*/
.footer-page {
  margin-top: 100px;
  margin-bottom: 20px;
}
.footer-page .title {
  text-align: center;
  margin-bottom: 20px;
}
.footer-page .title h1 {
  color: #000000;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .footer-page .title h1 {
    font-size: 30px;
  }
}
.footer-page .title p {
  color: #4b4b4b;
  line-height: 2;
  font-size: 20px;
}
@media (max-width: 991px) {
  .footer-page .title p {
    font-size: 17px;
  }
}
.footer-page ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.footer-page ul li {
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid #505050;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.footer-page ul li a {
  color: #505050;
  font-size: 20px;
}
.footer-page ul li a:hover {
  color: #4fc5ba;
}/*# sourceMappingURL=style.css.map */